@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

:root {
    --bl : #1E2022;
    --yl : #EAA437;
    --rd : #C22C12;
    --gr : #5DA754;

    --trd : #C60522;
    --tbl : #1B1B1E;
    --tgr : #6D676E;
    --twt : #FBFFFE;
    --tyl : #FFD428;
    --tgr : #5DA754;

}

a {
    font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    transition: 0.3s all ease;
}

.bg {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(198,5,34,0.5),rgba(255, 212, 40, 0.3),rgba(251,255,254,0.35)), url('../images/bg/bg4.jpg') center no-repeat ;
    background-size:  cover;
    position: fixed;
    z-index: -1;
}

.navbar {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition:  0.2s all ease;
}

.navbar-toggler {
    font-size: 1.5rem;
    margin: 0.3rem 1rem;
}

.nav-item {
    border-left: 1px solid rgba(0,0,0,0.075);
    border-right: 1px solid rgba(0,0,0,0.075);
}

.nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--tbl);
    padding: 1.5rem 1rem !important;
    transition: 0.2s all ease-in-out;
}

.nav-link:hover {
    color: var(--tbl);
    background: var(--tyl);
}

.snap {
    padding: 0.75rem 1rem !important;
}

.color-nav {
    background: var(--twt);
}

.heroHead {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%)

}

.heroHead h3 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--twt);
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.heroHead p {
    font-size: 1rem;
    font-weight: 700;
    color:var(--twt);
    letter-spacing: 0.15rem;
    line-height: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0);

}

.heroHead a {
    color: var(--twt);
    margin: 0 0.25rem;
    transition: 0.2s all ease;
}

.heroHead a:hover {
    background: var(--tbl);
    transform: scale(1.08);
}

.heroHead .b-1 {
    background: var(--tgr);
}

.heroHead .b-2 {
    background: var(--trd);
}

section {
    background: var(--twt);
    padding: 1rem 0.3rem;
    margin: 0;
}

section h4 {
    font-size: 1.7rem;
    padding: 0 0.3rem;
    line-height: 1.5rem;
    border-left: 5px solid var(--trd);
}

section:nth-of-type(2n) h4 {
    border-left: 5px solid var(--tyl);
}

section:nth-of-type(3n) h4 {
    border-left: 5px solid var(--tgr);
}

.side-image img {
    display: none;
}

footer {
    background: var(--tbl);
}

footer p {
    padding: 0.2rem;
    text-align: center;
    color: var(--twt);
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .navbar {
        border-bottom: 1px solid rgba(0,0,0,0.075);
    }

    .navbar-nav {
        margin: 0 auto;
    }

    .heroHead {
        left: 30%;
        transform: translate(-50%,-30%);
    }

    .heroHead p {
        font-size: 1.2rem;
    }


    .side-image img {
        display: block;
        margin-top: -450px;
    }

}