@import url('https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
    --col1: #247ba0; /* buttons, links */
    --col2: #70c1b3; /* link hovers */
    --col3: #b2dbbf; /* muted texts */
    --col4: #ffffff; /* background  f4fdcf*/
    --col5: #ff1654; /* headings */
    --col6: #181e1a; /* text color */  
}


body {
    background: var(--col4);
    color: var(--col1);
    font-family: 'Open Sans', serif;
}


a {
    font-family: 'Quicksand', sans-serif;
    color: var(--col1);
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.2s all ease;
}

a:hover {
    color: var(--col2);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: var(--col5);
    text-transform: uppercase;
}


.navbar {
    width: 100%;
    position: absolute;
    z-index: 999;
    background: var(--col3);
    transition: 0.2s all ease;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    background: none !important;
}

.navbar-nav .nav-link {
    padding-left: 0.5rem;
}

.navbar a:hover {
    background: var(--col4)
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('../images/bg/bg.jpg') no-repeat center;
    background-size: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 1rem;
}

.hero-text h1 {
    font-size: 3.5rem;
    font-weight: 700
}

.hero-text p {
    color: var(--col4);
    font-size: 1.2rem;
}

.hero-text .links {
    display: flex;
}

.hero-text a {
    font-size: 0.9rem;
    padding: 0.4rem 1rem;
    font-weight: bold;
    border-radius: 50px;
    text-transform: uppercase;
    margin: 0.2rem 0.5rem;
    background: var(--col4);
    transition: 0.2s all ease;
}

.hero-text .links > a:first-child {
    background: var(--col1);
    color: var(--col4);
}

.hero-text .links a:hover {
    transform: scale(1.2);
}

section {
    margin: 1rem 0;
}

section .row-info {
    text-align: justify;
}

.text-content h2 {
    text-align: center;
    font-size: 1.8rem;
}

.text-content ul li {
    list-style-type:  none;
}

.text-content p {
    font-size: 0.9rem;
}

.text-content ul {
    position: relative;
    left: -10px;
}

.text-content ul li {
    list-style-type:  circle;
}

.text-content ul li p {
    position: relative;
    left: -5px;
    padding: 0;
    margin: 0;
}


.img-content img {
    transition: 0.2s all ease;
}

.img-content img:hover {
    transform: scale(1.08);
}

.team h2 {
    text-align: center;
}

.team .row div {
    margin: 0.3rem 0;
    align-items: stretch;
}

.team .card {
    position: relative;
    background: var(--col4);
    box-shadow: 0px 0px 3px var(--col6);
    transition: 0.2s all ease;
}

.team .card:hover {
    box-shadow: 0px 0px 9px var(--col6);
    transform: scale(1.07);
}

.team .card-img-top {
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 61%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 61%, 0% 100%);
}

.team .profile {
    border-radius: 50%;
    width: 50%;
    margin: 0 auto;
    padding: 0;
    border: 5px solid var(--col4);
    position: absolute;
    top: 15%;
    left: 25%;
    object-fit: cover;
}

.team .card-body {
    padding-bottom: 0.2rem;
}

.team .card-body h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem; 
    margin-bottom: 0.2rem;
}

.team .card-body .sep {
    margin: 0.3rem;
}

.team .card-body p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
}

.team .links-wrapper {
    width: 50%;
    margin: 0 auto !important;
    padding: 0;
}

.team .links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
}

.team .links a:hover {
    transform: scale(1.4);
}

.team .links .fa-github{
    color: var(--col6);
}

.team .links .fa-facebook-f {
    color: var(--col1);
}

.team .links .fa-globe {
    color: var(--col2);
}

/* Medium screens and above */
@media only screen and (min-width: 600px) {

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .navbar-nav {
        margin-left: auto;
    }

    .navbar a {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .nav-link {
        padding-left: 0;
    }
    
    .hero-text {
        top: 55%;
        left: 15%;
        transform: translate(-15%,-55%);
    }

    section {
        padding: 1.5rem;
    }

    .text-content h2 {
        font-size: 2.3rem;
    }

    .text-content p {
        font-size: 1rem;
    }

    .text-content ul {
        left: 0;
    }

    .text-content ul li p {
        left: 0;
    }

    .img-content img {
        border-radius: 30px;
        width: 90%;
        margin-left: 2rem;
    }
    
    section:nth-of-type(2n) .row-info div:nth-of-type(1) {
        order: 2;
    }


}

/* Large screens and above */
@media only screen and (min-width: 768px) {

}